/*=========================================== Fonts ===========================================*/

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto.woff') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Robotolight.woff') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Robotothin.woff') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
    font-family: 'FontAwesome Pro Light';
    src: url('../fonts/fontawesome/fa-light-300.woff') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'FontAwesome Pro Regular';
    src: url('../fonts/fontawesome/fa-regular-400.woff') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'FontAwesome Pro Solid';
    src: url('../fonts/fontawesome/fa-solid-900.woff') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Font Awesome 5 Brands';
    src: url('../fonts/fontawesome/fa-brands-400.woff') format('truetype');
    font-style: normal;
    font-weight: normal;
}

/* Классы шрифтов */

.intro-head-r {font-family: "Intro-Head-R", Arial, Helvetica, sans-serif;}

.lato-regular {font-family: 'Lato-Regular', sans-serif;}

.lato-medium {font-family: 'Lato-Medium', sans-serif;}

.lato-light {font-family: 'Lato-Light', sans-serif;}

.lato-semibold {font-family: 'Lato-Semibold', sans-serif;}

.lato-bold {font-family: 'Lato-Bold', sans-serif;}

.fa {font-family: 'FontAwesome';}

.fal {font-family: 'FontAwesome Pro Light';}

.far {font-family: 'FontAwesome Pro Regular';}

.fas {font-family: 'FontAwesome Pro Solid';}

.fab {font-family: 'Font Awesome 5 Brands';}

/*=========================================== General ===========================================*/

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth
}

a {
  text-decoration: none;
}

p, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

.viewport {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

/*=========================================== Navigation ===========================================*/

.nav-wrapper {
  display: flex;
  height: 80px;
}

.nav {
  display: flex;
  background-color: #fff;
}

.nav .nav__menu {
  display: flex;
  align-items: center;
  height: 80px;
  list-style: none;
  justify-content: center;
  width: 100%;
}

.nav .nav__menu .nav__item,
.mobile_nav .mobile_nav__menu .nav__item {
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 300;
  margin: 10px 38px;
}

.nav .nav__menu .nav__item .nav__link,
.mobile_nav .mobile_nav__menu .nav__link {
  text-decoration: none;
  color: #435993;
}

.nav .nav__menu .nav__item .nav__link:hover,
.nav .mobile_nav__menu .nav__item .nav__link:hover {
  color: #1c1c1c;
}

/*=========================================== Mobile navigation ===========================================*/



.mobile_nav {
  display: none;
  position: relative;
  top: 30px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

.mobile_nav a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

.mobile_nav a:hover {
  color: tomato;
}


.mobile_nav input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

.mobile_nav span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #475892;;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.mobile_nav span:first-child {
  transform-origin: 0% 0%;
}

.mobile_nav span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

.mobile_nav input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #475892;
}

.mobile_nav input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.mobile_nav input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

.mobile_nav__menu {
  position: absolute;
  width: 200px;
  display: flex;
  flex-direction: column;
  margin: -100px 0 0 -50px;
  padding: 106px 50px 50px 50px;
  background: #ffffff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 1s cubic-bezier(0.77,0.2,0.05,1.0);
}

.mobile_nav__menu li {
  padding: 10px 0;
}

.mobile_nav input:checked ~ ul{
  transform: none;
}

/*=========================================== Content ===========================================*/

.form {
  padding: 0 20px 0 20px;
}


.form-bg {
  background: url('../images/header-img-compress.jpg') no-repeat;
  background-size: cover;
  height: 180px;
  position: relative;
  margin: 0 -20px 93px -20px;
}

.form-bg .form__gradient {
  opacity: 1;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 100px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform 0.15s ease;
  transition: transform 0.15s ease;
  transition: transform 0.15s ease, -webkit-transform 0.15s ease;
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, #fff 100%);
  pointer-events: none;
}

.form .form__content {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.form .form__title {
  font-size: 70px;
  font-family: 'Roboto';
  font-weight: 100;
  color: #000000;
  position: absolute;
  bottom: -35px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}

.form .form__content_title {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 30px;
  color: #1c1c1c;
  margin: 0 0 46px 0;
}

.form__content_icon {
  text-align: center;
  width: 47px;
  height: 47px;
  margin-bottom: 17px;
}

/*Personal information*/
.personal_information {
  margin-bottom: 48px;
}

.form__input_container {
  position: relative;
}

.form__input_label {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  color: #adadad;
  visibility: hidden;
  position: absolute;
  top: 5px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}

.form__content .form__input,
.form__content .form__textarea {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 400;
  color: #1c1c1c;
  background: #fff;
  color: #000;
  display: inline-block;
  outline: none;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  box-shadow: none;
  background-clip: padding-box;
  width: 100%;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
  -webkit-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
  -moz-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
  -ms-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
  -o-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
  transition: color .3s ease, background-color .3s ease, border-color .3s ease;
}

.form__content .form__input {
  max-width: 520px;
  height: 60px;
  text-align: center;
  margin: 0 0 25px 0;
}

.form__content .form__textarea {
  max-width: 500px;
  height: 180px;
  resize: none;
  padding: 17px 0 0 20px;
  margin: 0 0 70px 0;
}

.form__content .form__input:focus,
.form__content .form__textarea:focus {
    border: 1px solid #475892;
    box-shadow: none;
}

.form__content .form__input:focus.form__input_label {
  visibility: visible;
}

.form__content .form__input::placeholder,
.form__content .form__textarea::placeholder {
  font-size: 24px;
  color: #c8c8c8;
  -webkit-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
  -moz-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
  -ms-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
  -o-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
  transition: color .3s ease, background-color .3s ease, border-color .3s ease;
  top: -20px;
}

.form__content .form__input:focus::placeholder,
.form__content .form__textarea:focus::placeholder {
  color: transparent;
}

/*Your_experience*/
.your_experience {
  margin-bottom: 119px;
}

.checkbox_content {
  display: flex;
  justify-content: space-between;
}

.checkbox_group {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.checkbox_content label[for=checkbox-first],
.checkbox_content label[for=checkbox-second],
.checkbox_content label[for=checkbox-third],
.checkbox_content label[for=checkbox-fourth],
.checkbox_content label[for=checkbox-fifth],
.checkbox_content label[for=checkbox-sixth],
.checkbox_content label[for=checkbox-seventh],
.checkbox_content label[for=checkbox-eighth],
.checkbox_content label[for=checkbox-ninth] {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 300;
    color: #000000;
    padding-left: 31px;
    padding-top: 1px;
    position: relative;
    margin-right: 10px;
    cursor: pointer;
    margin-top: 8px;
    -moz-user-select: none;
    -webkit-user-select: none;
    font-weight: normal;
    margin: 0 0 15px 0;
}

.checkbox_content label[for=checkbox-first]:before,
.checkbox_content label[for=checkbox-second]:before,
.checkbox_content label[for=checkbox-third]:before,
.checkbox_content label[for=checkbox-fourth]:before,
.checkbox_content label[for=checkbox-fifth]:before,
.checkbox_content label[for=checkbox-sixth]:before,
.checkbox_content label[for=checkbox-seventh]:before,
.checkbox_content label[for=checkbox-eighth]:before,
.checkbox_content label[for=checkbox-ninth]:before {
    content: "\f0c8";
    font-family: 'FontAwesome Pro Light';
    position: absolute;
    color: #475892;
    top: -2px;
    left: 0;
    font-size: 22px;
    -webkit-transition: color .5s ease, background-color .5s ease, border-color .5s ease;
    -moz-transition: color .5s ease, background-color .5s ease, border-color .5s ease;
    -ms-transition: color .5s ease, background-color .5s ease, border-color .5s ease;
    -o-transition: color .5s ease, background-color .5s ease, border-color .5s ease;
    transition: color .5s ease, background-color .5s ease, border-color .5s ease;
}

.checkbox_content input {
    display: none;
}

.checkbox_content input[id=checkbox-first]:checked + label[for=checkbox-first]:before,
.checkbox_content input[id=checkbox-second]:checked + label[for=checkbox-second]:before,
.checkbox_content input[id=checkbox-third]:checked + label[for=checkbox-third]:before,
.checkbox_content input[id=checkbox-fourth]:checked + label[for=checkbox-fourth]:before,
.checkbox_content input[id=checkbox-fifth]:checked + label[for=checkbox-fifth]:before,
.checkbox_content input[id=checkbox-sixth]:checked + label[for=checkbox-sixth]:before,
.checkbox_content input[id=checkbox-seventh]:checked + label[for=checkbox-seventh]:before,
.checkbox_content input[id=checkbox-eighth]:checked + label[for=checkbox-eighth]:before,
.checkbox_content input[id=checkbox-ninth]:checked + label[for=checkbox-ninth]:before {
    font-family: 'FontAwesome Pro Solid';
    content: "\f14a";
    color: #475892;
}

.skill_level_marks_container {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}

.skill_level_marks_container .skill_level_mark {
  position: relative;
  top: -20px;
}

.skill_level_marks_container .skill_level_mark .skill_level_mark_text {
  font-size: 13px;
  text-align: left;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.skill_level_marks_container .skill_level_mark .skill_level_mark_line {
  border-left: 1px dashed #e8e8e8;
  height: 16px;
  display: block;
  position: relative;
  top: 2px;
}

.skill_level_marks_container .right_mark .skill_level_mark_line_right {
  border-left: 0;
  border-right: 1px dashed #e8e8e8;
}

.skill_level_mark {
  padding-right: 10px;
}


/*Javascript skill*/
.javascript_skill {
  margin-bottom: 102px;
}
/*Javascript skill*/
.about_me {
  margin-bottom: 50px;
}

.about_me_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  background-color: #475892;
  width: 115px;
  height: 50px;
  border: 0;
  -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
     border-radius: 8px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav {
    display: none;
  }

  .mobile_nav {
    display: block;
  }
}

@media (max-width: 575px) {
  .checkbox_content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}
